[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cicerone"]
	path = cicerone
	url = https://github.com/johncoene/cicerone
[submodule "echarts4r"]
	path = echarts4r
	url = https://github.com/johncoene/echarts4r
[submodule "graphTweets"]
	path = graphTweets
	url = https://github.com/johncoene/graphtweets
[submodule "linne"]
	path = linne
	url = https://github.com/johncoene/linne
[submodule "packer"]
	path = packer
	url = https://github.com/johncoene/packer
[submodule "pushbar"]
	path = pushbar
	url = https://github.com/johncoene/pushbar
[submodule "sever"]
	path = sever
	url = https://github.com/johncoene/sever
[submodule "sigmajs"]
	path = sigmajs
	url = https://github.com/johncoene/sigmajs
[submodule "tippy"]
	path = tippy
	url = https://github.com/johncoene/tippy
[submodule "waiter"]
	path = waiter
	url = https://github.com/johncoene/waiter
