[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ambiorix"]
	path = ambiorix
	url = https://github.com/johncoene/ambiorix
	shallow = true
	registered = true
[submodule "cicerone"]
	path = cicerone
	url = https://github.com/johncoene/cicerone
	shallow = true
	registered = true
[submodule "echarts4r"]
	path = echarts4r
	url = https://github.com/johncoene/echarts4r
	shallow = true
	registered = true
[submodule "firebase"]
	path = firebase
	url = https://github.com/johncoene/firebase
	shallow = true
	registered = true
[submodule "graphTweets"]
	path = graphTweets
	url = https://github.com/johncoene/graphtweets
	shallow = true
	registered = true
[submodule "linne"]
	path = linne
	url = https://github.com/johncoene/linne
	shallow = true
	registered = true
[submodule "packer"]
	path = packer
	url = https://github.com/johncoene/packer
	shallow = true
	registered = true
[submodule "pushbar"]
	path = pushbar
	url = https://github.com/johncoene/pushbar
	shallow = true
	registered = true
[submodule "sever"]
	path = sever
	url = https://github.com/johncoene/sever
	shallow = true
	registered = true
[submodule "sigmajs"]
	path = sigmajs
	url = https://github.com/johncoene/sigmajs
	shallow = true
	registered = true
[submodule "tippy"]
	path = tippy
	url = https://github.com/johncoene/tippy
	shallow = true
	registered = true
[submodule "waiter"]
	path = waiter
	url = https://github.com/johncoene/waiter
	shallow = true
	registered = true
